.topHeader {
  height: 400px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  background-color: #f2914b;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  margin-top: 5em;
}

/* h2 {
  font-family: Bungee;
  margin-block-start: 0.1em;
} */

.topHeader h2 {
  color: blanchedalmond;
  font-size: 2rem;
  font-family: "Original Surfer";
}

@media screen and (min-width: 768px) {
  .topHeader {
    width: 40%;
    height: 100vh;
    margin-top: 0em;
    justify-content: center;
    position:fixed;
  }
}

@media screen and (min-width: 1024px) {
  .topHeader {
    width: 50%;
  }
}